*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
header,main,footer{
    width: 1440px;
    margin: 0 auto;
   
    font-family: 'Mulish', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
}
.nav-title{
    display: flex;
    align-items: center;
    margin-left: 135px;
    color: #131318;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    gap: 16px;
}
.nav-bar{
    margin-right: 127px;
}
.nav-bar>ul{
    display: flex;
    list-style: none;
    gap: 44px;
    
    
   }
nav li a{
    text-decoration: none;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}   
/* banner */
.banner{
    width: 1170px;
    height: 500px;
    margin-left: 135px;
    margin-top: 49px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    border-radius: 16px;
    
    
}
.explore{
    padding-top:106px ;
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 24px;
    text-align: center;
}
.b-p{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 64px;
}
.text,.c-y-d-p ,.w-c-u-p{
    color:rgba(19, 19, 24, 0.70) ;
    font-size: 16px;
    font-weight: 400;

}
.explore-box{
    height: 84px;
    width: 800px;
    margin: 0 auto;
    padding-top: 22px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.w-go{
    margin-right: 24px;
    height: 52px;
    width: 174px;
    background: #FFF;
    border-radius: 8px;
    padding-left: 16px;
    border: 0;
}
.btn{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border: 0;
    cursor: pointer;
    
    
}
.o-p-t{
    display: flex;
    padding-top: 100px;
    gap: 53px;
    justify-content: space-between;
    padding-right: 135px ;
    padding-left: 135px;
}
.title ,.c-y-d-t ,.w-c-u-t,.d-d-t {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
}
.o-p-t-d{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
    
    
}
.o-p-t-d li{
    padding-left: 20px;
    list-style: none;
}
/* cyd */
.c-y-d{
    margin-left: 135px;
    margin-right: 135px;
}
.c-y-d-t{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 24px;
}
.c-y-d-p{
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
   
}
.row{
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
    position: relative;
    
}
.w-c-u-t{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 24px;
    
}
.w-c-u-p{
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
}
.row-1{
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}
.box-1{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    margin-left: 135px;
    padding-left: 32px;
    padding-top: 32px;
}
.box-2{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    margin-right: 135px;
    padding-left: 32px;
    padding-top: 32px;
}
.row-2{
    display: flex;
    justify-content: center;
}
.box-3{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin-bottom: 100px;
    padding-left: 32px;
    padding-top: 32px;
}
.box-title{
    margin-top: 32px;
    margin-bottom: 16px;
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    
}
.d-d-w{
    text-align: center;
    margin-bottom: 48px;
}
.d-d-i{
    margin-left: 135px;
    margin-right: 135px;
}
.pic1{
    background-image: url('../Images/Group\ 39.png');
    height: 500px;
    background-repeat: no-repeat;
    margin-bottom: 24px;
    
    
}
.pic2{
    height: 500px;
    background-repeat: no-repeat;
    margin-bottom: 24px;
    background-image: url('../Images/Group\ 40.png');
}
.pic3{
    background-image: url('../Images/Group\ 39.png');
    height: 500px;
    background-repeat: no-repeat;
    margin-bottom: 24px;
    
}
.pic1-box{
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    margin-left: 535px;
    
}

.g-t{
    margin-top: 150px;
    margin-left: 135px;
    margin-right: 135px;
    display: flex;
    margin-bottom: 100px;
}
.g-t-b1{
    width: 50%;
}
.g-t-i{
    background-image: url('../Images/Group\ 40089.png');
    width: 50%;
    height: 422px;
    border-radius: 16px;
}
.gti-text{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    width: 276px;
    line-height: 36px; /* 150% */
    padding-left: 167px;
    padding-top: 176px;
}

.see{
    margin-top: 30px;
}
.nws{
    margin-left: 135px;
    margin-right: 135px;
    display: flex;
    margin-bottom: 100px;
}
.form{
    width: 434px;
    height: 375px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
}
.gt-h{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 16px;
}
.gt-in{
    margin-top:80px;
    width: 420px;
    height: 52px;
    flex-shrink: 0;
    border: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding-left: 20px;
}
.in{
    margin-top:20px;
}
.gt{
    width: 440px;
    height: 52px;
    border-radius: 8px;
    margin-top:20px;
    

}
.nws-i{
    background-image: url('../Images/Rectangle\ 8\ \(1\).png');
    width: 672px;
    height: 422px;
    margin-left: 24px;
    border-radius: 16px;
}
.s{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 20px;
    margin-top: 250px;
}
.w{
    color: #FFF;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 40px;
}
.in-img{
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    position: relative;
    bottom: 0px;
    right: 0px;
    margin-left:290px;
}

footer{
    height: 502px;
    text-align: center;
    padding-top: 130px;
    background: rgba(19, 19, 24, 0.05);
    
}
.f-title{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
   
}
.f-c{
    margin-top: 13px;
}
.icon{
    margin-top: 50px;
    padding-bottom: 90px;

}
.line{
    width: 872px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin-left: 284px;
    margin-bottom: 100px;

}
.lastl{
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}


















@media screen and (max-width:600px){
    header,main{
        width: 370px;
    }
    nav{
        flex-direction: column;
        
        
    }
    .nav-title{
        margin-left: 4px;
        color: #131318;
        font-family: Mulish;
        font-size: 21.543px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    .nav-bar{
        display: none;
    }
    .banner{
        width: 350px;
        margin-left: 14px;
    }
    .explore{
        color: #FFF;
        font-family: Mulish;
        font-size: 22px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    .explore-box{
        display: flex;
        width: 287px;
        padding: 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        height: 190px;
        
    }
    .w-go{
        width: 255px;
        height: 72px;
        border-radius: 8px;
        background: #FFF;
    }
    .btn{
        width: 270px;
        height: 72px;
    }
    .o-p-t{
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }
    .title{
        color: #131318;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-bottom: 10px;
    }
    .opti{
        width: 335px;
        height: 342px;
        
    }
    .c-y-d{
        margin-left: 20px;
        margin-right: 20px;
    }
    .c-y-d-t{
        margin-top: 20px;
        color: #131318;
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    .c-y-d-p{
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 171.429% */
    }
    .row{
        width: 335px;
        flex-direction: column;
        
    }
    .maldives,.nextmal,.lanka,.n-a,.kashmir,.bd,.bandarban{
        width: 335px;
        height: 176px;
    }
   
    .w-c-u-t{
        margin-top: 10px;
        color: #131318;
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    .w-c-u-p{
        
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 171.429% */
    }
    .row-1,.g-t{
        flex-direction: column;
        
        
    }
    .box-1,.box-2,.box-3{
        width: 275px;
        height: 289px;
        margin-left: 15px;
        margin-right: 10px;
        padding-right: 32px;

       
    }
    .d-d-i{
        margin-left: 15px;
        margin-right: 10px;
    }
    .pic1,.pic2,.pic3{
        width: 345px;
        border-radius: 16px;
    }
    .g-t{
        margin-top: 20px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .g-t-b1,.g-t-i,.nws{
        width: auto;
    }
    .see{
        width: 174px;
        height: 52px;
        flex-shrink: 0;
        margin-bottom: 10px;
    }
    .g-t-i{
        height: 200px;
        margin-bottom: 10px;
    }
    .gti-text{
        color: #FFF;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px; /* 150% */
        padding-left: 30px;
        padding-top: 60px;
    }
    .nws{
        flex-direction: column;
        margin-left: 15px;
        gap: 16px;
        margin-bottom: 20px;
    }
    .form{
        width: 320px;
        height: 420px;
        padding-left: 23px;
        padding-right: 0px;
    }
    .gt-in,.gt{
        width: 275px;
        height: 52px;
        
    }
    .gt{
        width:295px ;
    }
    .nws-i{
        width: 345px;
        height: 300px;
        flex-shrink: 0;
        margin-left: 0;
    }
    .in-img{
        width: 214.023px;
        height: 79.268px;
        transform: rotate(-19.628deg);
        flex-shrink: 0;
        margin-left: 110px;

    }
    .s{ padding-top: 10px;
        margin-top: 190px;
    }
    .w{
        color: #FFF;
    }
    footer{
        padding-top: 33px;
        width: 410px;
        height: 309px;
        margin: 0;
    }
    .icon{
        margin-top: 16px;
        padding-bottom: 24px
    }
    .line{
        width: 350px;
        
        margin-left: 20px;
        margin-bottom: 24px;
    }
   .pic1-box{
    visibility: hidden;
   }
}