*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
header{
    width: 1440px;
    margin: 0 auto;
    border: 1px solid red;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
}
.nav-title{
    display: flex;
    align-items: center;
    margin-left: 135px;
    color: #131318;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    gap: 16px;
}
.nav-bar{
    margin-right: 127px;
}
.nav-bar>ul{
    display: flex;
    list-style: none;
    gap: 44px;
    
    
   }
nav li a{
    text-decoration: none;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}   
/* banner */
.banner{
    width: 1170px;
    height: 500px;
    margin-left: 135px;
    margin-top: 49px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    border-radius: 16px;
    
    
}
.explore{
    padding-top:106px ;
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 24px;
    text-align: center;
}
.b-p{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 64px;
}
.explore-box{
    height: 84px;
    width: 800px;
    margin: 0 auto;
    padding-top: 22px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.w-go{
    margin-right: 24px;
    height: 52px;
    width: 174px;
    background: #FFF;
    border-radius: 8px;
    padding-left: 16px;
    border: 0;
}
.btn{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border: 0;
    cursor: pointer;
    
    
}